* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  background-color: #FFF;
  display: flex;
  justify-content: center;
}

.Chartbar-container {
  display: grid;
  grid-template-rows: 90px 1fr;
}

h1 {
  text-align: center center;
  color: #fff;
  font-family: EngraversMT, Engravers MT;
}

.Chartbar {
  margin: 0;
  padding-top: 10px;
  border-radius: 5px 5px 0 0;
  text-align: center;
  background: ivory;
}

/* The animation code */
@keyframes excited-green {
  from {background-color: #00A175;}
  to {background-color: yellowgreen;}
}

@keyframes excited-blue {
  from {background-color: #0074d9;}
  to {background-color: aqua;}
}

/* #EUR {
;
}

#MXN {
;
}

#INR {
;
}

#HKD {
;
}

#CNY {
;
}

#CAD {
;
}

#RUB {
;
}

#ISK {
;
}

#PLN {
;
}

#GBP {
;
}

#JPY {
;
} */

.Chartbar-header {
  background-color: #020202;
  color: #fff;
  padding: 5px 15px;
  text-align: center;
}

/* .Chartbar-bar {
  border: 1px solid #F5A623;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50), inset 0 1px 20px 0 rgba(0,0,0,0.50);
  border-radius: 5px;

} */

.Chartbar-bar:hover {
  opacity: .5;
  cursor: pointer;
  
}

/* .Chartbar-text {
  font-family: EngraversMT;
  font-size: 18px;
  font-weight: normal;
  color: red;
  text-align: center;
} */

[class*="Chartbar-bar"]:nth-child(odd) {
  background-color: #00A175;
  animation-duration: 4s;
  animation-name: excited-green;
  transition: .6s ease-in-out;
}

[class*="Chartbar-bar"]:nth-child(even) {
  background-color: #0074d9;
  animation-duration: 4s;
  animation-name: excited-blue;
  transition: .6s ease-in-out;
}